 <app-navbar></app-navbar>
<!-- <app-topbar></app-topbar>  -->
<app-dash></app-dash>
<app-filters></app-filters>
<app-transaction></app-transaction>
<app-stocks></app-stocks>


<!-- 
<div class="app-container">
    <app-topbar></app-topbar>
    <app-navbar></app-navbar>
    
    <div class="content-area">
      <app-filters></app-filters> -->
      
      <!-- This will show either stocks or transactions based on route -->
      <!-- <router-outlet></router-outlet>
    </div>
  </div> -->

  <!-- <div class="simple-view">
    <h1>Investment Dashboard</h1>
    
    <div class="simple-tabs">
      <a href="#mutual-funds" class="tab">MUTUAL FUNDS</a>
      <a href="#stocks" class="tab">STOCKS</a>
    </div>
  
    <div id="mutual-funds" class="table-section">
      <h2>MUTUAL FUNDS</h2>
      <app-transaction></app-transaction>
    </div>
  
    <div id="stocks" class="table-section">
      <h2>STOCKS</h2>
      <app-stocks></app-stocks>
    </div>
  </div> -->